.filters {
    
    padding: 20px 0;
    margin-bottom: 20px;
    margin-top: 15px;
}

.filters-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 12px;
}

.filters label {
    font-weight: bold;
    margin-right: 10px;
}

.filter-btn {
    background-color:black ;
    border: 2px solid black;
    padding: 8px 16px;
    margin-right: 8px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

.filter-btn:hover {
    background-color: #3498db;
    color: white;
    border-color: #3498db;
}

.filter-btn.active {
    background-color: #3498db;
    color: black;
    border-color: #3498db;
}

.filters select {
    padding: 8px 12px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 14px;
}

.container {
    margin-top: 50px;
}